.highlight[property~="dead"]{
	background-color: #00FAFA
}

.highlight[property~="somber atmosphere"]{
	background-color: #00FAFA
}

.highlight[property~="balance"]{
	background-color: #00FAFA
}

.highlight[property~="life"]{
	background-color: #00FAFA
}

.highlight[property~="sadness"]{
	background-color: #00FAFA
}

.highlight[property~="introduce yourself"]{
	background-color: #f62e38
}

.highlight[property~="comically"]{
	background-color: #f62e38
}

.highlight[property~="unexpected"]{
	background-color: #f62e38
}

.highlight[property~="identity"]{
	background-color: #feef5d
}

.highlight[property~="mood"]{
	background-color: #feef5d
}


.highlight[property~="memories"]{
	background-color: #feef5d
}

.highlight[property~="similarity"]{
	background-color: #feef5d
}

.highlight[property~="common activity"]{
	background-color: #feef5d
}